/* LikedSong.css */
.liked-song-container {
    padding-top: 2%;
    padding-left: 10%;
    min-height: 100vh;

  }
  .ligne{
    width: 90%;
    margin-top: -5px;
  }
  .liked-song-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .liked-song-title {
    font-weight: bold;
    font-size: 2rem;
    color: #b27ce4;
    padding-right: 50%;
  }
  
  .home-icon {
    font-size: 5rem;
    display: flex;
    padding-right: 5%;
  }
 
  .song-card {
    display: flex;
    align-items: center;
    background-color: #c496c4;
    border-radius: 8px;
    padding: 16px;
    margin-left: 5%;
    margin-bottom: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
  }  
  .song-details {
    flex: 1;
    overflow: hidden;
  }
  
  .song-title {
    color: black;
  }
  
  .song-artist {
    color: rgb(43, 3, 37);
  }
  
  .controls {
    display: flex;
    gap: 8px;
  }
  
  .control-button {
    font-size: 1.5rem;
  }

